#!/bin/bash

# RPM Fusion setup
sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf config-manager setopt fedora-cisco-openh264.enabled=1
sudo dnf update -y @core

# RPM Fusion multimedia
sudo dnf swap -y ffmpeg-free ffmpeg --allowerasing
sudo dnf update -y @multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin

sudo dnf swap -y mesa-va-drivers mesa-va-drivers-freeworld
sudo dnf swap -y mesa-vdpau-drivers mesa-vdpau-drivers-freeworld

sudo dnf swap -y mesa-va-drivers.i686 mesa-va-drivers-freeworld.i686
sudo dnf swap -y mesa-vdpau-drivers.i686 mesa-vdpau-drivers-freeworld.i686

# System packages
sudo dnf group install -y c-development development-tools
sudo dnf install -y zsh stow kitty

# PicoSDK
sudo dnf install arm-none-eabi-gcc-cs-c++ arm-none-eabi-newlib libusb1-devel

# Rust
if [[ ! -d $HOME/.cargo ]]; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh 
else
  echo "Rust already installed"
fi

# Brew
if [[ ! -d /home/linuxbrew ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Brew already installed"
fi
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

brew_packages=$(brew list)

{{ range .packages.brew -}}
if grep -q {{ . | quote }} <<< "$brew_packages"; then
  echo "{{ . }} already installed"
else
  brew install {{ . | quote }}
fi
{{ end -}}

# Mise
mise install

# Mise Tasks
mise setup:gh
mise setup:picotool jaugusto
mise setup:beets
